<!DOCTYPE html>
<html>
  <head>
    <title>Skills Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="home-title">Greg Mattia's Skills</h1>
    <a class="skills-list" href="/skills"
      >Click to see my full list of skills!
    </a>
  </body>
</html>
