<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="home-title">Greg Mattia's <%= title %></h1>
    <a class="home-description" href="./skills/"
      >Please Click here to view a list of my skills!
    </a>
  </body>
</html>
